<div class="container-fluid">
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a routerLink="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Headline Horizon</span>
        </a>
      </header>

      <div class="p-5 mb-3 bg-light rounded-3 jumbotron">
        <div class="container-fluid box">
          <h1 class="display-5 fw-bold">About Us</h1>
          <p class="col-md-8 col-lg-11 fs-5">Headline Horizon utilizes the News API to fetch the latest information from
            all over the world</p>
          <p class="col-md-8 col-lg-11 fs-8">Started as just a hobby side project, Then added one feature at a time and now
            here we are with the Headline Horizon.</p>
          <button class="btn btn-outline-dark btn-lg mt-3" type="button">Read More</button>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3 jumbotron-mini">
            <h2>Checkout My Github Profile</h2>
            <p>I like building things with a touch of my style in ample time with no rushing. As rushing and stressing often times lead to not so perfect results</p>
            <p>You can checkout my Github portfolio via below link. All of my projects are currently hosted there!</p>
            <a class="btn btn-outline-light" href="https://github.com/tanzilekram" target="_blank" role="button">Checkout my Github</a>

          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3 jumbotron-mini2">
            <h2>Wanna Get Professional?</h2>
            <p>If you have any doubts in development of applications using Angular Then feel free to drop me a message in my LinkedIn profile..</p>
            <a class="btn btn-outline-dark" href="https://linkedin.com/in/tanzilekram" target="_blank" role="button">Follow me on LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
