

.outer-box {
    height: 100vh; 
  }
  
  .container {
    padding: 20px; 
  }
  
  .card {
    max-width: 400px; 
    margin: auto; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
  }
  
  .logo {
    width: 150px; 
  }
  
  .email {
    margin-bottom: 20px; 
  }
  
  .txt-area {
    resize: none;
  }
  
  .btn-submit {
    width: 100%; 
  }
  