<div class="container">
  <div class="content">
    <img class="logo" src="./assets/logos/dp-color.png" alt="logo">
    <p><strong>404.</strong> <span class="grayy">That's an error.</span></p>
    <p>The requested URL doesn't exist or was not found on this server.</p>
    <p class="grayy">That's all we know.</p>
    <button class="btn btn-outline-danger" routerLink="/">Go Back</button>
  </div>
  <div class="image">
    <img class="thumb" src="./assets/Images/404.png" alt="404-not-found-image">
  </div>
</div>
